html {
    min-height: 100%;
}

body {
    background-image: linear-gradient(to bottom right, #a200ff, blue);
    font-family: "Montserrat", sans-serif;
    color: fff;
    margin: 0;
    text-align:center;    
}

h1,
h4 {
    text-align: center;
}
.center {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
}

.centercontentdiv {
    display:flex;justify-content:center;align-items:center;
}

.TXC {
    text-align: center;
}

.TXR {
    text-align: right;
}

.TXL {
    text-align: left;
}

.row-buttons-index {
    width:50%;
    max-width:700px
}

.btn-front-index {
    width:25%
}
@media (max-width: 666px) {
    .btn-front-index {
        width:33%
    }
    .row-buttons-index {
        width:90%
    }
}

.row {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin-left: 0;
    margin-right: 0;
}